@import url(https://fonts.googleapis.com/css?family=Muli:Light,Regular,Bold,Black);

h1 {
	color: white !important;
	font-weight: 700 !important;
}

.alert {
	display: none;
}

.lead {
	padding-top: 15px;
	padding-bottom: 15px;
	color: white !important;
}

h3, h4, h5, h6 {
	font-family: Muli !important;
	font-weight: Bold;
	color: #001747 !important;
	padding-bottom: 15px;
}

.jumbotron a.btn.btn-primary.btn-lg{
	border-color: white !important;
}

body {
	font-family: 'Muli', sans-serif !important;
}
.jumbotron-bg {
	background-color: #001747 !important;
}

.jumbotron {
	background-color: #001747 !important;
}

.card-container {
	background-color: lightblue;
	color: blue;
	text-align: center;
}

.w-100 {
	height: 500px;
}

.apps {
	height: 250px;
}

/*changes the color of the buttons*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #001747 !important;
	border-color: #001747 !important;
}

.navbar {
	height: 70px;
}

.navbar-collapse {
	flex-grow: 0 !important; /* aligns the navbar to the right side, and ensures justify content = space between"*/
}

.foot {
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}
.social-icons-footer {
  	display: flex;
  	align-items: center;
  	width: auto;
}

.social-icons {
	display: flex;
	padding-right: 50px;
	/*width: 30%;*/
}

.insta {
	background-image: url('../images/insta-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.email {
	background-image: url('../images/email-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 28px;
	height: 25px;
	margin-left: 0px;
	margin: 25px 25px 25px 0;
}

.dribbble {
	background-image: url('../images/dribbble-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.linkedin {
	background-image: url('../images/linkedin-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.homebutton {
	padding: 5px;
	display: inline-block;
	width: 200px;
}

.card-title{
	text-align: center;
}

.card {
	margin: 15px;
}

.form-group {
	width: 40% !important;
}

.submit a {
	color: #001747 !important;
}

.form-center {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-logo {
	color: #001747 !important;
	font-weight: 500;
}

.jumbotron-bg {
	background-position: bottom;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
	height: 500px;
	width: 100%;
}

.jumbotron {
	padding: 0 !important;
	position: relative;
}

.intro-div {
	padding: 5%;
}

@keyframes floating-image {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.profile {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	border: 0px black solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: floating-image 6s ease-in-out infinite;
}

.profile img {
	width: 100%;
	height: auto;
}


@media only screen and (max-width: 1170px) {
	.intro-div {
		width: 50%; /*allows room for profile picture*/
	}

	.display-3 {
		font-size: 3em !important;
	}
}