@import url(https://fonts.googleapis.com/css?family=Muli:Light,Regular,Bold,Black);

h1, h2, h3, h4, h5, h6 {
	font-family: Muli !important;
	font-weight: Bold;
	color: #001747 !important;
	padding-bottom: 15px;
}

body {
	font-family: 'Muli', sans-serif !important;
}
.jumbotron-bg {
	background-color: white;
}

.card-container {
	background-color: lightblue;
	color: blue;
	text-align: center;
}

.w-100 {
	height: 500px;
}

.apps {
	height: 250px;
}

/*changes the color of the buttons*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #001747 !important;
	border-color: #001747 !important;
}

.lead {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #001747 !important;
}

.navbar-collapse {
	flex-grow: 0 !important; /* aligns the navbar to the right side, and ensures justify content = space between"*/
}

.foot {
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
}
.social-icons-footer {
  	display: flex;
  	align-items: center;
  	width: auto;
}

.social-icons {
	display: flex;
	padding-right: 50px;
	/*width: 30%;*/
}

.insta {
	background-image: url('../images/insta-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.email {
	background-image: url('../images/email-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 28px;
	height: 25px;
	margin-left: 0px;
	margin: 25px 25px 25px 0;
}

.dribbble {
	background-image: url('../images/dribbble-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.linkedin {
	background-image: url('../images/linkedin-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	margin: 25px;
}

.homebutton {
	padding: 5px;
	display: inline-block;
	width: 200px;
}

.card-title{
	text-align: center;
}

.card {
	margin: 15px;
}

.form-group {
	width: 40% !important;
}

.submit a {
	color: #001747 !important;
}

.form-center {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-logo {
	color: #001747 !important;
	font-weight: 500;
}

.jumbotron-bg {
	background: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80);
    background-position: bottom;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
	height: 500px;
	width: 100%;
}

.jumbotron {
	padding: 0 !important;
}

.intro-div {
	padding: 5%;
}